*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #3e0382, #a804c5 );
    color: #fff;
    position: relative;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
}
.footer{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content:end;
    align-items: end;
    flex-direction: column;
    flex: 1;
    
}
.footer h1{
    font-size: 20px;
    font-weight: 300;
}
.container{
    width: 800px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(50px);
}
.clock span{
    font-size: 90px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
      content:'HOURS';
}
#min::after{
      content:'MINS';
}
#sec::after{
      content:'SEC';
}